<div class="container d-flex justify-content-center align-items-center regsiter-wrapper min-vh-100">
    <div class="card shadow p-3 rounded-3" style="width: 35%;">
        <div class="display-6 mb-2 mt-2"
            style='font-family: "Poppins", sans-serif; font-weight: 300;font-style: normal;'>Reset Password</div>
        <div class="text-danger" role="alert" id="error">
        </div>
        <div class="form-group mb-3">
            <label>Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control border-end-0" placeholder="Password" name="password"
                    id="password">
                <span type="button" class="input-group-text bg-white border-start-0" id="basic-addon2"><i
                        class="fa fa-eye-slash" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="form-group mb-3">
            <label>Confirm password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="cpassword" id="cpassword">
            </div>
        </div>
        <input type="hidden" name="token" id="token">
        <button type="submit" class="btn btn-dark w-100 mt-3 mb-2" id="reset-pwd">Reset Password</button>
    </div>
</div>